a{
    color: white;
    margin: 1vw 1vw 0 1vw;
    display: block;
    font-size: 10vw;
    text-align: center;
    text-decoration-line: unset;
    float: left;
}
body{
    background: #39E1B1;
    margin: 0;
    padding: 0;
    border: 0;
}
h1{
    font-family: 'Abril Fatface', 'cursive';
    font-weight: normal;
    display: inline;
}
a.atividades{
    background: #4A4E7A ;
    width: 98vw;
    height: 30vh;
}

a.provas{
    background-color: #4E5DC4 ;
    width: 98vw;
    height: 30vh;
}
a.seminario{
    background-color: #6983E4;
    width: 98vw;
    height: 30vh;
}