a{
    color: white;
    margin: 1vw 1vw 0 1vw;
    display: block;
    font-size: 10vw;
    text-align: center;
    text-decoration-line: unset;
    float: left;
}
body{
    background: #f1f5c8;
    margin: 0;
    padding: 0;
    border: 0;
}
h1{
    font-family: 'Abril Fatface', 'cursive';
    font-weight: normal;
    display: inline;
}
a.atividades{
    background: #1A237E ;
    width: 98vw;
    height: 30vh;
}

a.provas{
    background-color: #FFAB40 ;
    width: 98vw;
    height: 30vh;
}
a.seminario{
    background-color: #FF5252;
    width: 98vw;
    height: 30vh;
}