a{
    color: white;
    margin: 1vw 1vw 0 1vw;
    display: inline-block;
    font-size: 10vw;
    text-align: center;
    text-decoration-line: unset;
}
body{
    background: #f1f5c8;
    margin: 0;
    padding: 0;
    border: 0;
}
h1{
    font-family: 'Abril Fatface', 'cursive';
    font-weight: normal;
    display: inline;
}
a{
    width: 98vw;
}
a.atividades{
    background-color: #1A2340;
}

a.provas{
    background-color: #FFAB40;
}

a.trabalhos{
    background-color: #40FF40;
}

a.seminario{
    background-color: #FF5240;
}