h1, h2, h3{
    color: #ffffff;
    font-family: 'Abril Fatface', 'cursive';
    font-size: 6vw;
    margin: 0 6vw 6vw 6vw;
    font-weight: normal;
    text-align: center;
}
a{
    color: #ffffff;
    display: block;
    font-family: 'Raleway';
    font-size: 2vw;
    margin: 0.3vw 5.8vw 5vw 6vw;
    text-decoration-line: none;
}
body{
    background: #FF5252;
    margin: 0;
    padding: 0;
}