*{
    margin: 0;
    padding: 0;
}
.page-title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    padding: 10px;
    background-color: aqua;
}
@media (max-width:480px){
    .page-title{
        background-color: blueviolet;
    }
}